<div class="index_blog">
  <p style="color: green"><%= notice %></p>

  <h1 class="mobutu">Blogs</h1>

  <div id="blogs">
    <div class="blog-item">
    <% @blogs.each do |blog| %>
      <%= render blog %>
      <p>
        <%= link_to "View", blog %>
      </p>
    <% end %>
    </div>

    <div class="blog-cat">
      <% @categories.each do |cat| %>
        <%= link_to cat.category, blogs_path(:cate => cat.id) %> <%= cat.blogs.count %>
      <% end %>
    </div>

  </div>

  <%= link_to "New blog", new_blog_path %>

</div>
